* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #161623;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.background-object {
  position: absolute;
  border-radius: 50%;
  backdrop-filter: blur(10px);
  animation: float 6s ease-in-out infinite;
  opacity: 0.8;
}

.background-object:nth-child(1) {
  width: 500px;
  height: 500px;
  top: 5%;
  left: 5%;
  background: linear-gradient(#2196f3, #e91e63);
  animation-delay: 0s;
}

.background-object:nth-child(2) {
  width: 400px;
  height: 400px;
  top: 60%;
  left: 43%;
  background: linear-gradient(#f0f, #2196f3 );
  animation-delay: 2s;
}



.background-object:nth-child(3) {
  width: 300px;
  height: 300px;
  top: 35%;
  left: 80%;
  background: linear-gradient(#f00, #f0f);
  animation-delay: 4s;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.main_div {
  position: relative;
  text-align: center;
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  z-index: 10;
  color: #fff;
  width: 67%;
}




.buttons {
  margin-top: 20px;
}

.startButton {
  background: linear-gradient(135deg, #6e8efb, #a777e3);
  color: #fff;
  border: none;
  padding: 12px 20px;
  font-size: 18px;
  cursor: pointer;
  margin-right: 10px;
  border-radius: 25px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.startButton:hover {
  background: linear-gradient(135deg, #a777e3, #6e8efb);
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
  transform: translateY(-3px);
}

.text {
  line-height: 25px;
}

#score, #mistakes {
  margin-top: 20px;
  color: #fff;
}
